<app-header id="home"></app-header>
<app-servicio-tecnico id="servicio-tecnico"></app-servicio-tecnico>
<app-accesorios pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [threshold]="0.1" [once]="false" id="accesorios"></app-accesorios>
<app-insumos-informaticos pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [threshold]="0.1" [once]="false" id="insumos"></app-insumos-informaticos>
<app-resenias pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [threshold]="0.1" [once]="false"></app-resenias>
<app-contacto pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [threshold]="0.1" [once]="false" id="contacto"></app-contacto>
<app-footer></app-footer>
<app-scroll-top></app-scroll-top>
<app-whatsapp-button></app-whatsapp-button>
<router-outlet />
